# Analyzing_data_with_R

### installing libs

In [1]:
install.packages("plotly")
install.packages("magrittr")
install.packages("ggplot2")
library(ggplot2)
library(magrittr)
library(plotly)

### reading csv and exploring data

In [57]:
# Load the CSV file into a data frame
df <- read.csv("/content/sample_data/BTC-USD.csv")

# Display the first few rows of the data frame
head(df,8)

  Date       Open     High     Low      Close    Adj.Close Volume
1 2022-01-22 36471.59 36688.81 34349.25 35030.25 35030.25  39714385405
2 2022-01-23 35047.36 36433.31 34784.97 36276.80 36276.80  26017975951
3 2022-01-24 36275.73 37247.52 33184.06 36654.33 36654.33  41856658597
4 2022-01-25 36654.80 37444.57 35779.43 36954.00 36954.00  26428189594
5 2022-01-26 36950.52 38825.41 36374.91 36852.12 36852.12  31324598034
6 2022-01-27 36841.88 37148.32 35629.28 37138.23 37138.23  25041426629
7 2022-01-28 37128.45 37952.88 36211.11 37784.33 37784.33  22238830523
8 2022-01-29 37780.71 38576.26 37406.47 38138.18 38138.18  17194183075

- ##### dataset summary

In [58]:
summary(df)

     Date                Open            High            Low
 Length:20          Min.   :35047   Min.   :36433   Min.   :33184
 Class :character   1st Qu.:36919   1st Qu.:37395   1st Qu.:36103
 Mode  :character   Median :37850   Median :38736   Median :36963
                    Mean   :38910   Mean   :39915   Mean   :37989
                    3rd Qu.:41456   3rd Qu.:42011   3rd Qu.:41090
                    Max.   :44348   Max.   :45661   Max.   :43403
     Close         Adj.Close         Volume
 Min.   :35030   Min.   :35030   Min.   :1.464e+10
 1st Qu.:36954   1st Qu.:36954   1st Qu.:1.953e+10
 Median :38028   Median :38028   Median :2.414e+10
 Mean   :39265   Mean   :39265   Mean   :2.528e+10
 3rd Qu.:41729   3rd Qu.:41729   3rd Qu.:2.989e+10
 Max.   :44339   Max.   :44339   Max.   :4.186e+10

- ##### standard deviation

In [59]:
print(paste('close std', sd(df$Close)))
print(paste('whole std', sd(c(df$Open, df$Close))))

[1] "close std 3023.49461954453"
[1] "whole std 2932.60435461045"